{% extends "base.html" %} {% block content %}

<style>
    .container {
        width: 40vw;
        margin: 0 auto;
    }
    .header {
        width: fit-content;
    }
</style>

<div class="container text-center">
    <div class="px-4 py-5 sm:p-6">
        <center class="uppercase">Where to study?</center>
    </div>
    <div class="text-base max-w-prose mx-auto lg:max-w-none">
      <div class="col">
          <div class="text-left mx-auto header mb-8">
              <p class="text-base leading-6 font-semibold tracking-wider uppercase">Go study in</p>
              <h2
                class="text-5xl leading-none font-extrabold tracking-tight text-gray-900 sm:text-4x1"
              >
                {{room.label}}
              </h2>
          </div>
        <div class="col-2">
          <h2 class="text-base text-black-600 font-semibold tracking-wide uppercase">
            {{room.address}}
          </h2>
          </button>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Make a booking
      </div>
      <ul>
          <li>{{room.building_code}}</li>
          <li>{{room.density}}</li>
      </ul>
    </div>

    <iframe src="map" width="100%" height="400px"></iframe>
</div>

{% endblock %}
