{% extends "base.html" %} {% block content %}

<style>
  .container {
    margin: 0 auto;
    width: 75vw;
  }
  .header {
    width: fit-content;
  }
</style>

<div class="container text-center">
  <div class="px-4 py-5 sm:p-6">
    <p class="uppercase text-center">Where to study?</p>
  </div>
  <div class="text-base max-w-prose mx-auto lg:max-w-none">
    <div>
      <div class="text-left mx-auto header mb-4">
        <p
          class="text-base text-blue-800 leading-6 font-bold tracking-wider uppercase"
        >
          Go study in
        </p>
        <h2
          class="text-5xl leading-none font-extrabold tracking-tight text-gray-900 sm:text-4x1"
        >
          {{room.building_label}}
        </h2>
      </div>

      <div class="container-fluid" id="infoholder">
        <div class="row">
          <div class="col-md">
            <div class="card" id="stat">
              <div class="card-body">
                <h2 class="card-text">Population Desity: 20%</h2>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card" id="stat">
              <div class="card-body">
                <h2 class="card-text">Adress: 122 W 1233 St, Boulder</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p
        class="text-2xl leading-none font-bold tracking-tight text-gray-800 mb-3"
      >
        {{room.label}}
      </p>
      <p class="text-base text-black-600 font-semibold tracking-wide uppercase">
        {{room.address}}
      </p>
      <a href="https://ems.colorado.edu/" target="_blank">
        <button
          type="button"
          class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 my-8"
        >
          Book this room →
        </button>
      </a>
      <p class="mb-4">
        <a href="." class="text-gray-500">↻ Get a different room</a>
      </p>
    </div>
  </div>

  <iframe src="map?{{room.map_hash}}" width="100%" height="400"></iframe>

  <footer class="bg-white">
    <div class="relative bg-white mt-16">
      <div class="text-base max-w-prose mx-auto lg:max-w-lg">
        <h3
          class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-3xl"
        >
          About
        </h3>
        <div class="mt-5 prose prose-indigo text-gray-500">
          <p>
            This project randomly selects an available room for you to study in.
            The randomisation is weighted towards buildings with fewer people
            inside. Developed during HackCU 007 from March 2-3, 2021.
          </p>
        </div>
      </div>
    </div>

    <p class="prose"></p>
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
      <p class="mt-8 text-center text-base text-gray-400">
        <a href="https://aschwartz.me">Andrew Schwartz</a> and Carter Andrews
        for <a href="https://hackcu.org/">Hack CU</a>.
      </p>
    </div>
  </footer>
</div>

{% endblock %}
